<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SigmaVantage.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SigmaVantage.My.MySettings>
            <setting name="SQLConnnection" serializeAs="String">
                <value>Server=localhost\SQLEXPRESS;Database=SigmaVantage;Trusted_Connection=True;</value>
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value>True</value>
            </setting>
        </SigmaVantage.My.MySettings>
    </userSettings>
</configuration>